.game-info {
    background-color: var(--component-bg);
    border: 1px solid var(--border-color);
}

.game-info h3 {
    color: var(--primary-color);
}

.game-info button {
    background-color: var(--primary-color);
    color: #101010;
}

.game-info button:hover:not(:disabled) {
    background-color: #fff;
    color: #101010;
} 